.main-container {
  display: flex;
  align-items: center;
  padding: 5rem;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  background: rgb(177,153,177);
  background: linear-gradient(90deg, rgba(177,153,177,1) 0%, rgba(221,212,212,1) 50%, rgba(179,155,155,1) 100%);
  justify-content: center;
  width: 100%;
  text-align: center;
}

.main-container h2 {
  color: #f1450c;
  font-size: 2rem;
}

.main-container p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: #f1450c;
  font-weight: 600;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.main-content h2 {
  margin-bottom: 10px;
}

.main-content h1 {
  color: black;
  margin-top: 10px;
}
