.header-container {
  background-color: #000;
  box-shadow: 0 0 20px 3px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.1);
}
.header-items {
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 15px;
  padding: 10px 0;
  cursor: pointer;
  color: white; /* Ajuste a cor do texto conforme necessário */

  &:hover {
    color: white; /* Cor quando o mouse passa por cima */
  }

  &.active {
    font-weight: bold; /* Estilo para o link ativo */
    color: white; /* Cor do link ativo */
  }
}

.header-title img {
  max-width: 150px;
  height: auto;
}

.header-item {
  display: flex;
  margin-right: 20px;
}

.header-items {
  margin: 0 15px;
  position: relative;
  right: 0;
  padding: 10px 0;
  cursor: pointer;
  color: white; /* Ajuste a cor do texto conforme necessário */
}

.header-items::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: orange;
  transition: width 0.3s;
}

.header-items:hover::after {
  width: 100%;
}

.icon {
  color: green;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  z-index: 5;
  margin-right: 20px;
}

.icon a {
  color: green;
}

.menu {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .header-items {
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
  }
}
