.header-container{
    background-color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header-title h2{
    color: #000;
    cursor: pointer;
}

.header-item{
    display: flex;
    flex-direction: row;
    
}

.header-items{
    margin-right: 30px;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
}